<div class="sidebar-nav nav-collapse collapse" id="sidebar-navigation">
  <% cache ["name", current_user] do %>
    <div class="user_side clearfix">
      <h5>
        <%= current_user.name.humanize %>
      </h5>
      <a href>
        <%= current_user.role.name %>
      </a>
    </div>
  <% end %>
  <div class="accordion">
    <% Adminpanel.displayable_resources.each do |resource| %>
      <% resource_class = symbol_class(resource) %>
      <% if can?(:read, resource_class) || can?( :publish, resource_class) %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <%= link_to(
              [route_symbol(resource.to_s)],
              data: {
                no_transition_cache: true
              },
              class: "accordion-toggle accordion-navigation #{is_current_section?(resource_class.display_name)} spinner-link"
            ) do %>
              <%= content_tag(
                :i,
                nil,
                class: "fa fa-#{resource_class.icon}"
              ) %>
              <%= resource_class.collection_name %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% Adminpanel::Page.all.each do |page| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <%= link_to(
            page_path(page),
            data: {
              no_transition_cache: true
            },
            class: "accordion-toggle accordion-navigation #{current_page?(page_path(page))} spinner-link"
          ) do %>
            <%= content_tag(
              :i,
              nil,
              class: "fa fa-#{page.icon}"
            ) %>
            <%= page.name %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
